<table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortChanged($event)">

  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="title">{{'CONTENT.TITLE' | translate}}</th>
    <td mat-cell *matCellDef="let element" (click)="openModal(element, 1)" class="link-active"
        [style.width]="'55%'">
      {{element.title}}
      <ng-container *ngIf="element.isBestseller == 1">
        <mat-icon style="vertical-align: middle" class="Card-price">star</mat-icon>
      </ng-container>
    </td>
  </ng-container>

  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="price">
      {{'CONTENT.PRICE' | translate}}
      <br>
      <span class="subtitles">{{'CONTENT.DISCOUNT' | translate}}</span>
    </th>
    <td mat-cell *matCellDef="let element" [style.width]="'15%'">
      <container-element [ngSwitch]="element.discount">
        <ng-container *ngSwitchCase="0">
          <span class="Card-price">{{element.price | number: '1.2-2'}}</span>
        </ng-container>
        <span *ngSwitchDefault style="display: grid">
              <span class="Card-priceOld">{{element.price | currency: '₽'}}</span>
              <span class="Card-price">
                {{element.discount | percent: '1.0'}}
                {{element.price - (element.discount * element.price) | currency: '₽'}}
              </span>
          </span>
      </container-element>
    </td>
  </ng-container>

  <ng-container matColumnDef="pubDate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="pub_date">{{'CONTENT.PUB_DATE' | translate}}</th>
    <td mat-cell *matCellDef="let element" [style.width]="'10%'">{{element.pubDate | date: 'dd.MM.yyyy'}}</td>
  </ng-container>

  <ng-container matColumnDef="popularity">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="popularity">{{'CONTENT.POPULARITY' | translate}}</th>
    <td mat-cell *matCellDef="let element" [style.width]="'10%'">{{element.popularity | number: '1.2-2'}}</td>
  </ng-container>

  <ng-container matColumnDef="rate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="rate">{{'CONTENT.RATE' | translate}}</th>
    <td mat-cell *matCellDef="let element">{{element.rate != null ? element.rate : 0 | number: '1.2-2'}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" class="fixed-table"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>
