<ng-container>

  <div class="mat-elevation-z8 table-container"
       style="height: calc(100vh - 129px)">
    <app-review-table [(queryParams)]="queryParams"
                      [dataSource]="dataSource"
                      (dataSourceChange)="delete($event)"
                      (dataSaveChange)="save($event)"
                      [paginatorParams]="paginatorParams"
                      (queryParamsChange)="getData()">
    </app-review-table>
  </div>

  <app-paginator [(queryParams)]="queryParams" [paginatorParams]="paginatorParams"
                 (queryParamsChange)="getData()">
  </app-paginator>
</ng-container>

