<mat-card class="example-card">
  <mat-card-header style="margin-bottom: 10px">

    <div>
      <img src="{{env.apiBaseUrl + dataSource.image}}" width="150" height="200" alt="1"
           (click)="openSelectFile()">
      <input style="display: none" type="file" multiple accept="image/*" (change)="changeImage($event)" #image>
    </div>

    <mat-card-title-group style="display: contents">
      <form class="form-modal" [formGroup]="formGroup">
        <mat-card-title *ngIf="!isEdit">{{dataSource.title}}</mat-card-title>
        <mat-card-title *ngIf="isEdit">
          <div class="example-container">
            <mat-form-field class="col-md-12 input" appearance="fill">
              <mat-label>Enter your title</mat-label>
              <input matInput placeholder="new title" value="{{dataSource.title}}"
                     (change)="change()" formControlName="title">
            </mat-form-field>
          </div>
        </mat-card-title>

        <mat-card-subtitle>
          <div *ngIf="!isEdit" [ngSwitch]="dataSource.discount">
            <ng-container *ngSwitchCase="0">
              <span class="Card-price" *ngIf="!isEdit">{{dataSource.price | number: '1.2-2'}}</span>
            </ng-container>

            <span *ngSwitchDefault style="display: grid">
                  <span class="Card-priceOld">Цена: {{dataSource.price | currency: '₽'}}</span>
                    <span class="Card-price">
                      Цена со скидкой {{ dataSource.discount | percent: '1.0'}}:
                      {{dataSource.price - (dataSource.discount * dataSource.price) | currency: '₽'}}
                    </span>
                </span>
          </div>

          <div *ngIf="isEdit">
            <mat-form-field class="input" appearance="fill" floatLabel="always">
              <mat-label>Amount</mat-label>
              <input matInput type="number" min="10" class="example-right-align" placeholder="0"
                     value="{{dataSource.price}}" (change)="change()" formControlName="price">
              <span matTextPrefix>RUB&nbsp;</span>
            </mat-form-field>

            <mat-form-field class="input" appearance="fill" floatLabel="always">
              <mat-label>Amount</mat-label>
              <input matInput type="number" min="1" max="100" class="example-right-align" placeholder="0"
                     value="{{dataSource.discount}}" (change)="change()" formControlName="discount">
              <span matTextPrefix>%&nbsp;</span>
            </mat-form-field>
          </div>
        </mat-card-subtitle>

        <mat-card-subtitle>
          {{'rate: ' + dataSource.rate}}
        </mat-card-subtitle>

        <app-list-content [(dataSource)]="dataSource.authorList" [isEdit]="isEdit"
                          [type]="2">
        </app-list-content>

        <app-list-content [(dataSource)]="dataSource.genreList" [isEdit]="isEdit"
                          [type]="3">
        </app-list-content>

        <app-list-content [(dataSource)]="dataSource.tagList" [isEdit]="isEdit"
                          [type]="4">
        </app-list-content>

      </form>
    </mat-card-title-group>
  </mat-card-header>

  <mat-card-content>
    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">thumb_up</mat-icon>
          Description
        </ng-template>

        <span *ngIf="!isEdit">
                {{dataSource.description}}
        </span>

       <form [formGroup]="formGroup">
         <mat-form-field appearance="fill" style="width: 100%" *ngIf="isEdit">
           <mat-label>Textarea</mat-label>
           <textarea style="height: 300px" matInput value="{{dataSource.description}}"
                     (change)="change()" formControlName="description"></textarea>
         </mat-form-field>
       </form>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">thumb_up</mat-icon>
          Transactional
        </ng-template>
      </mat-tab>

    </mat-tab-group>
  </mat-card-content>

</mat-card>
