<div style="width: 103vh;">
  <h2 mat-dialog-title [ngSwitch]="data.type">
    <span *ngSwitchCase="1">{{'CONTENT.BOOK' | translate}}</span>
    <span *ngSwitchCase="2">{{'CONTENT.AUTHOR' | translate}}</span>
    <span *ngSwitchCase="3">{{'CONTENT.GENRE' | translate}}</span>
    <span *ngSwitchCase="4">{{'CONTENT.TAG' | translate}}</span>
  </h2>
  <mat-dialog-content class="mat-typography">

    <ng-container [ngSwitch]="data.type">
      <app-book-modal *ngSwitchCase="1" [dataSource]="dataSource" [isEdit]="isEdit"
                      (photoChange)="saveImage($event)" [formModal]="formGroup">
      </app-book-modal>
      <app-author-modal *ngSwitchCase="2" [dataSource]="dataSource" [isEdit]="isEdit"
                        (photoChange)="saveImage($event)" [formModal]="formGroup">
      </app-author-modal>
    </ng-container>


    <!--    <ng-container>-->
    <!--      <mat-card class="example-card">-->
    <!--        <mat-card-header>-->
    <!--          <mat-card-title>{{dataSource.name}}</mat-card-title>-->
    <!--        </mat-card-header>-->
    <!--        <mat-card-content>-->
    <!--          {{dataSource.bookList.length > 1 ? 'Книги:' : 'Книга:'}}-->
    <!--          <mat-selection-list>-->
    <!--            <mat-list-option color="primary" [disabled]="!isEdit" *ngFor="let book of dataSource.bookList">-->
    <!--              {{book.title}}-->
    <!--            </mat-list-option>-->
    <!--          </mat-selection-list>-->
    <!--        </mat-card-content>-->
    <!--      </mat-card>-->
    <!--    </ng-container>-->

    <!--    <ng-container>-->
    <!--      <mat-card class="example-card">-->
    <!--        <mat-card-header>-->
    <!--          <mat-card-title>{{dataSource.name}}</mat-card-title>-->
    <!--        </mat-card-header>-->
    <!--        <mat-card-content>-->
    <!--          {{dataSource.bookList.length > 1 ? 'Книги:' : 'Книга:'}}-->
    <!--          <ng-container *ngFor="let book of dataSource.bookList; last as asLast">-->
    <!--            <a class="link" (click)="openModal(book.slug, 1)">-->
    <!--              {{book.title}}-->
    <!--              <span *ngIf="!asLast">, </span>-->
    <!--            </a>-->
    <!--          </ng-container>-->
    <!--        </mat-card-content>-->
    <!--      </mat-card>-->
    <!--    </ng-container>-->

  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button *ngIf="isEdit" (click)="cancel()">{{'MODAL.CANCEL' | translate}}</button>
    <button mat-button *ngIf="!isEdit" [mat-dialog-close]="this.dataSource">{{'MODAL.CLOSE'| translate}}</button>
    <button mat-button (click)="edit()" [disabled]="isEdit && this.formGroup.status == 'INVALID'">
      {{(isEdit ? 'MODAL.SAVE' : 'MODAL.EDIT') | translate}}
    </button>
  </mat-dialog-actions>

</div>
