body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container-body {
  padding: 0 7px;
}

.Card-priceOld {
  color: #999;
  display: inline-block;
  margin-right: 7px;
  font-weight: 400;
  text-decoration: line-through;
}

.Card-price {
  color: #0d6efd;
  display: inline-block;
}

.box {
  padding: 12px;
  border-radius: 4px;
  box-shadow: 0 0 24px rgba(0, 0, 0, .1);
  border: 1px solid #afafb7;
}

img {
  margin: 5px 10px 5px 0;
  box-shadow: 0 0 24px rgba(0, 0, 0, .1);
  border: 1px solid #afafb7;
}

.link {
  cursor: pointer;
  text-decoration: none;
  display: inline-flex;
  margin-left: 3px;
}

.link-delete {
  color: #0d6efd;
  cursor: pointer;
  text-decoration: none;
}

.link-delete:hover {
  color: #be123c;
}

.input {
  margin: 5px 4px -5px;
}

.filter {
  position: sticky;
  top: 10px;
  z-index: 100;
}

.fixed-table {
  position: sticky;
}

.table-container {
  height: calc(100vh - 199px);
  overflow-y: auto;
  margin-top: 20px;
}

.link-active {
  cursor: pointer;
}

.link-active:hover {
  cursor: pointer;
  color: #0d6efd;
}

.form-modal {
  width: 100%;
}

.subtitles {
  display: contents;
  color: #939490;
}
