body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.Card-priceOld {
  color: #999;
  display: inline-block;
  margin-right: 7px;
  font-weight: 400;
  text-decoration: line-through;
}

.Card-price {
  color: #0d6efd;
  display: inline-block;
}

.box {
  padding: 12px;
  border-radius: 4px;
  box-shadow: 0 0 24px rgba(0, 0, 0, .1);
  border: 1px solid #afafb7;
}

img {
  margin: 5px 10px 5px 0;
  box-shadow: 0 0 24px rgba(0, 0, 0, .1);
  border: 1px solid #afafb7;
}

.link {
  cursor: pointer;
  text-decoration: none;
  display: inline-flex;
  margin-left: 3px;
}

.link-delete {
  color: #0d6efd;
  cursor: pointer;
  text-decoration: none;
}

.link-delete:hover {
  color: #be123c;
}

.paginator-container {
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 8px;
  min-height: 5px;
}

.input {
  margin: 5px 4px -5px;
}

.fixed-filter {
  position: sticky;
  top: 91px;
  z-index: 100;
  background: white;
  margin-top: 5px;
}

.fixed-table {
  position: sticky;
}

.table-container {
  max-height: 523px;
  overflow-y: auto;
  margin-top: 80px;
}

.fixed-paginator {
  position: fixed;
  left: 20px;
  right: 20px;
  bottom: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.link-active {
  cursor: pointer;
}

.link-active:hover {
  cursor: pointer;
  color: #0d6efd;
}

