<ng-container>

  <div style="position: relative">
    <app-filter class="filter"
                [(queryParams)]="queryParams" [(filter)]="filter"
                [type]="2" (queryParamsChange)="getData()">
    </app-filter>

    <button mat-icon-button
            color="primary"
            class="position-top-right"
            style="z-index: 10"
            (click)="openModal({slug: null, type: 1})">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <div class="mat-elevation-z8 table-container"
       style="{{filter ? 'height: calc(100vh - 272px)' : 'height: calc(100vh - 199px)'}}">
    <app-table-book [(queryParams)]="queryParams" [dataSource]="dataSource"
                    (dataSourceChange)="delete($event)"
                    (modalChange)="openModal($event)"
                    [paginatorParams]="paginatorParams" (queryParamsChange)="getData()">
    </app-table-book>
  </div>

  <app-paginator [(queryParams)]="queryParams" [paginatorParams]="paginatorParams"
                 (queryParamsChange)="getData()">
  </app-paginator>
</ng-container>

