<p>
  <mat-toolbar color="primary" class="fixed">
    <button mat-icon-button class="example-icon" [matMenuTriggerFor]="menu"
            aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
</p>

<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <a class="nav-link active" routerLink="/">
      <mat-icon color="primary" style="vertical-align: middle">supervisor_account</mat-icon>
      User
    </a>
  </button>
  <button mat-menu-item>
    <a class="nav-link active" routerLink="/book">
      <mat-icon color="primary" style="vertical-align: middle">book</mat-icon>
      Book
    </a>
  </button>
  <button mat-menu-item>
    <a class="nav-link active" routerLink="/author">
      <mat-icon color="primary" style="vertical-align: middle">supervised_user_circle</mat-icon>
      Author
    </a>
  </button>
</mat-menu>


